@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
    background-color: #adb8ff;
}

nav {
    background-color: #3d405b;
    color: #b9bddb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 0 0.5vh 0;
}

.logo img {
    width: 3.5vw;
}

.content {
    font-size: 1.4rem;
}

.container {
    width: 60vw;
    margin: 4vh auto;
    padding: 0.7rem;
    padding-right: 2rem;
    border: 0.2rem solid #b9bddb;
    border-radius:  1rem;
    color: #3d405b;
    background-color: #e3e6fb;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 200px 0 rgba(0, 0, 0, 0.19);
}

ol li {
    font-weight: bolder;
    font-size: 1.5rem;
}